body{
    background-color: lightpink;
}
#house{
    position:relative;
    width:500px;
    height:400px;
    border-radius:20px auto;
    border:20px solid brown;
    background-color:cadetblue;
}
#roof{
    position:absolute;
    top:0px;
    left:50px;
    width:400px;
    height:200px;
    background-color:sienna;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
#house{
    position:absolute;
    width:500px ;
    height:400px ;
    border-radius:20px auto;
    border:20px solid brown;
    z-index: 1;
}
#window{
    position:absolute;
    top:100px;
    left:10px;
    right:9px
    width:100px;
    height:200px;
    background-color:lightyellow;
    border:5px solid purple;
}
#door{
    position:absolute;
    bottom:0px;
    left:200px;
    width:100px;
    height:150px;
    background-color:peru;
    border-radius:10px auto;
    border:5px solid purple;
}
#chimney{
    position:absolute;
    top:20px;
    right:50px;
    width:50px;
    height:100px;
    background-color:sienna;
    border:5px solid brown;
}
#chimney-top{
    position:absolute;
    top: -1px;;
    right:0px;
    width:70px;
    height:20px;
    background-color:brown;
    border:5px solid sienna;
        z-index:1 ;

}
