body{
    background-color: rosybrown;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.business-card{
    width: 300px;
    background-color: white;
  padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-size:16px;
    margin-left: auto;
    margin-right: auto;
}
.profile-image{
   max-width:100%;
}