*{
    padding:0;
    margin:0;
}
body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   background-color: black;
}
header{
    background-color: blue;
    border-radius: 5px;
}
header h1{
font-weight: 20px;
text-transform: uppercase;
font-size: 10px;
line-height: 1.6;
font-size: 2em;
}
.navbar{
    text-decoration: none;
    color:whitesmoke
}
main{
background-color:rgb(11, 244, 244);
color:blue;
font-size:16px;
text-align: center;
}
main p{
    line-height: 1.6;
    font-size:1em;
    color:black;
    border:2px solid black;
}
main p::first-letter{
    font-size: 22px; 
}
footer{
    background-color: black;
    color:white;
}