body{
    padding:10px,10px,10px,10px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px;
    margin-right:0px;
    width:90vw;
    background-color:rgb(220, 91, 112);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
section{
    width:90px 1vw;
}
section hr{
    width:1vw;
}